@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 15px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arita-buri-Medium";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Arita-buri-Medium"),
    url("./assets/fonts/Arita-buri-Medium.woff") format("woff");
}

@font-face {
  font-family: "Arita-buri-SemiBold";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Arita-buri-SemiBold"),
    url("./assets/fonts/Arita-buri-SemiBold.woff") format("woff");
}

.arita-buri {
  font-family: "Arita-buri-Medium";
}

.arita-buri-bold {
  font-family: "Arita-buri-SemiBold";
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  letter-spacing: 0.02rem;
}

.sub-title {
  font-family: "EB Garamond", serif;
  letter-spacing: 0.2rem;
  font-size: 16px;
}

.main-title {
  font-family: "Arita-buri-SemiBold";
  font-size: 26px;
}

.main-title2 {
  font-family: "Arita-buri-SemiBold";
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.05rem;
}

.calendar {
  width: 440px;
}

.calendar div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.calendar span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
}

.calendar-header span {
  font-size: 18px;
  font-family: "Arita-buri-SemiBold";
}

.custom-icon > svg {
  @apply w-full h-full fill-current pointer-events-none;
}

@media screen and (max-width: 1050px) {
  .calendar {
    width: 350px;
  }

  .calendar span {
    width: 38px;
    height: 38px;
    font-size: 14px;
  }
}

.fade {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inView {
  opacity: 0;
  animation: fadeIn 2s both;
}

.attendance {
  margin-top: 30px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 5px double rgba(223, 162, 162, 0.3);
  border-bottom: 5px double rgba(223, 162, 162, 0.3);
}
